btn_orange_s vambody{background:url(../images/tzd.png) repeat;background:none;}

.head_post{background-color:#f5f5f5;border-bottom:1px solid #e5e5e5;line-height:30px;color:#888;}
.head_post a{color:#888}
.head_post .l{width:400px;padding-left:30px;height:30px;overflow:hidden;position:relative;}
.head_post .l ul{}
.head_post .r{padding-right:10px;}
.head_post .r a{margin-left:6px;margin-right:6px;line-height:30px;height:30px;display:inline-block;}

.head_nav{padding-bottom:6px;background:url(/images/bg/navListBg.gif) repeat-x bottom #fff;height:92px;overflow:hidden;}
.logo{margin:22px 0 0 10px;}

.navList{height:40px;padding:30px 0 0 0;}
.navList li.l{margin:0 3px;}
.navList li.l a{font:normal 16px/28px "Microsoft Yahei";color:#525252;background:url(../images/common_icon.png) no-repeat 0 80px;padding:0 25px;display:inline-block;height:28px;}
.navList li.l a.on,.navList li.l a:hover{text-decoration:none;background-position:0 8px;}
.navList li.icon_updown{background:url(../images/icon/common_icon.png) no-repeat 87px -66px;}

.navList li.l .menuBox{position:absolute;z-index:999;width:135px;margin:-6px 0 0 -21px;}
.navList li.l .menuBox .navListMenu{width:100%;float:left;background-image:url(/images/btn/menu_mid.png);_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/btn/menu_mid.png);}
.navList li.l .menuBox div a{display:block;width:85px;height:46px;background-color:#f0f0f0;padding:0;margin:1px 0 0 4px;padding-left:42px;line-height:42px;font-size:14px;}
.navList li.l .menuBox div._hover a{background-color:#f5f5f5;height:45px;border-bottom:1px solid #ababab;width:88px;}
.navList li.l .menuBox div._hover .navListMenu{background:url(../images/bg/selectBg.png) no-repeat 3px -205px;z-index:5;position:relative;}
.navList li.l .menuBox div.menu_first{background-image:url(../images/btn/menu_first.png);_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/btn/menu_first.png);}
.navList li.l .menuBox div.menu_last{background-image:url(../images/btn/menu_last.png);_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/btn/menu_last.png);}
.navList li.l .menuBox div.menu_first a,.navList li.l .menuBox li.menu_first a:hover{background:transparent;height:42px;font-size:16px;line-height:38px;}
.navList li.l .menuBox div.menu_last a{background:transparent;font:normal 12px/36px simsun;text-align:center;color:#fff;padding-left:0;width:127px;}
.navList li.l .menuBox div.menu_last a:hover{text-decoration:underline;}
.upListFun{float:left;width:100%;}
.navList li.l .menuBox .ulList{left:132px;display:none;}
.navList li.l .menuBox .ulList div{padding:9px 0;}

.icon_21000{background-position:-118px 14px!important;}/*瀹跺涵鏃ヨ*/
.icon_21001{background-position:-118px 14px!important;}/*weibo*/
.icon_1{background-position:-117px -46px!important;}/*寰崥涔�/
.icon_22000{background-position:16px -106px!important;}/*鏄庝俊鐗�/
.icon_15{background-position:-118px -166px!important;}/*杞绘秱鏈�/
.icon_23000{background-position:17px -167px!important;}/*娴锋姤*/
.icon_24000{background-position:-117px -471px!important;}/*鍙板巻*/

.btn_qq{width:56px;height:23px;margin-left:6px;margin-right:6px;display:inline-block;text-align:left;background:url(/images/btn/qq.jpg) no-repeat;line-height:23px;color:#1468a4;padding-left:25px;}
.icon_tel{background:url(../images/icon/common_icon.png) no-repeat -120px -100px;font-size:24px;height:30px;padding:10px 0 0px 40px;color:#686868;}
.icon_post{background:url(../images/icon/common_icon.png) no-repeat 10px -26px;}
.postBox{position:absolute;top:0;}
.redNum{background:url(../images/icon/red.gif) no-repeat;width:20px;height:13px;color:#fff;font-size:12px;line-height:13px;text-align:center;display:inline-block;display:none;}

.bg_gray{background:url(../images/bg/gray.jpg) repeat-x top!important;}

.foot_top{padding:10px 0 8px 0;line-height:30px;}
.foot_top strong{font-family:"tahoma";font-size:15px;margin-left:17px;color:#aaa;}
.linksBox{width:910px;}
.linksBox li{padding:0 15px;float:left;border-right:1px solid #ccc;line-height:14px;margin:10px 0;}
.linksBox li a{display:inline-block;color:#fffff;font-size:13px;}
.linksBox li a:hover{text-decoration:none;color:#444;}
.icon_sina{background:url(../images/icon/common_icon.png) no-repeat -129px -235px;padding-left:25px;}
.icon_qq{background:url(../images/icon/common_icon.png) no-repeat -129px -275px;padding-left:25px;}
.icon_renren{background:url(../images/icon/common_icon.png) no-repeat -130px -316px;padding-left:25px;}
.icon_kaixin{background:url(../images/icon/common_icon.png) no-repeat -129px -355px;padding-left:27px;}
.icon_douban{background:url(../images/icon/common_icon.png) no-repeat -130px -394px;padding-left:25px;}
.icon_qing{background:url(../images/icon/common_icon.png) no-repeat -131px -436px;padding-left:27px;}
.icon_sina_hover,.icon_sina_hover:hover{background:url(../images/icon/common_icon.png) no-repeat 0 -235px;padding-left:25px;line-height:30px;display:inline-block;}
.icon_qq_hover{background:url(../images/icon/common_icon.png) no-repeat 0 -275px;padding-left:25px;}
.icon_renren_hover{background:url(../images/icon/common_icon.png) no-repeat 0 -316px;padding-left:25px;}
.icon_kaixin_hover{background:url(../images/icon/common_icon.png) no-repeat 0 -356px;padding-left:27px;}
.icon_douban_hover{background:url(../images/icon/common_icon.png) no-repeat 0 -394px;padding-left:25px;}
.icon_qing_hover{background:url(../images/icon/common_icon.png) no-repeat 0 -436px;padding-left:27px;}

.loginBox .icon_sina_hover{height:25px;vertical-align:middle;width:1px;}
.loginBox .icon_renren_hover{height:25px;vertical-align:middle;width:1px;display:inline-block;}
.loginBox .icon_qq_ehover{vertical-align:middle;height:25px;width:1px;}
.icon_qq_ehover{background:url(../images/icon/qq.png) no-repeat left center;display:inline-block;padding-left:25px;}

.footer{line-height:30px;color:#444;background:url(../images/bg/footBg.png) repeat-x top;}
.foot_mid{padding:10px 0;}
.foot_txt{padding:20px 0 10px;text-indent:13px;height:30px;line-height:18px;background:url(../images/bg/tzd.png) no-repeat center right;}
.foot_mid strong{display:block;font-size:13px;font-family:"Microsoft Yahei";height:32px;}
.foot_mid ul{width:110px;line-height:28px;margin-left:17px;}
.foot_mid ul li{width:100%;margin:0;float:left;}
.foot_mid ul li a{color:#666;}
.foot_mid ul li a:hover{color:#333;}

/*  棣栭〉 */
.typeLink{padding:30px 0;}
.typeLink ul{width:1010px;padding-left:33px;background:url(/images/bg/indexBg.png) no-repeat center bottom;padding-bottom:16px;}
.typeLink li{width:240px;height:280px;display:inline;overflow:hidden;float:left;margin:0 4px 0 0px;}
.typeLink li a{display:block;width:234px;height:278px;}
/*
.typeLink li span{background-color:#000;color:#fff;line-height:14px;margin:245px 0 0 150px;padding:5px 8px;float:right;opacity:0.7;filter:alpha(opacity=70);position:absolute;}
.typeLink li a:hover{text-decoration:none;}
.typeLink li a:hover span{background-color:#f5ad33;opacity:1;filter:alpha(opacity=100);}
*/

/* 绮鹃� */
.contentBox{background:url(../images/bg/content.jpg) repeat;background:#fff;}
.pathBg{background:url(../images/bg/pathBg.gif) repeat-x bottom #f8f8f8;line-height:40px;height:40px;padding-bottom:3px;text-indent:10px;font-family:simsun;color:#999;display:none;}
.pathBg a,.pathBg span{color:#444;margin:0 5px;font-size:12px;}

/* 涓婇潰鏇存柊(鏇挎崲灏忓ご閮�common_small) */
.header{background:url(/images/common_small_bg.png) repeat-x;height:53px;padding-top:12px;}
.common_logo{width:138px;height:35px;background:url(/images/common_small.png) no-repeat 0 -32px;}
.common_logo a{display:block;height:35px;text-indent:-9999em;}
.common_nav{background:url(/images/common_small.png) no-repeat left top;padding-left:10px;height:31px;}
.common_nav ul{background:url(/images/common_small.png) no-repeat right bottom;height:21px;padding:5px 10px 5px 0;}
.common_nav ul li{float:left;color:#888;background:url(../images/icon/hr.png) no-repeat center right;line-height:25px;padding:0 9px 0 8px;}
.common_nav ul li a{display:inline-block;}
.common_nav ul li a em{display:inline-block;background:url(/images/common_small.png) no-repeat 0 -79px;width:20px;height:13px;font:normal 12px/13px arial;color:#fff;text-align:center;margin-left:1px;}
.cs_sina{padding-left:25px;background:url(/images/common_small.png) no-repeat -358px -36px;}
.cs_renren{padding-left:22px;background:url(/images/common_small.png) no-repeat -358px -65px;}
.cs_qq{padding-left:25px;background:url(/images/common_small.png) no-repeat -358px -94px;}

.path_link{line-height:40px;height:40px;padding-bottom:3px;text-indent:10px;font-family:simsun;color:#999;}
.path_link a,.path_link span{color:#615e5e;margin:0 5px;font-size:12px;font-weight:bold;}

.foot{border-top:1px solid #e3e3e3;}
.foot .clearfix{border-top:1px solid #fff;padding:20px 0 40px 10px;color:#666;}
.ts_SF{width:135px;height:23px;background:url(/images/common_small.png) no-repeat 0 -101px;text-indent:-9999em;}
/* end */

.selectedBox{background:url(../images/bg/leftMenuBg.gif) repeat-y left;}
.selectedBox2{background:url(../images/bg/leftMenuBg.gif) repeat-y 20px 0;}
.selectLeft{width:132px;padding-top:18px;}

.selectLeft span{height:48px;background:url(../images/bg/selectBg.png) no-repeat 0 0;display:block;margin-bottom:5px;}
.selectLeft span.on{background:url(../images/bg/selectBg.png) no-repeat 0 -48px;}
.selectLeft span._hover{background:url(../images/bg/selectBg.png) no-repeat 0 -205px;z-index:5;position:relative;}
.selectLeft span a{display:block;height:45px;background:url(../images/icon/common_icon.png) no-repeat;padding-left:42px;line-height:42px;font-size:14px;color:#888;}
.selectLeft span.on a,.selectLeft span a:hover{color:#525252;text-decoration:none;}

.ulList{border:1px solid #ababab;overflow:hidden;background:#f5f5f5;left:129px;top:0;width:180px;z-index:3;padding:0 15px;display:none;position:absolute;}
.ulList div{border-top:1px solid #d0d0d0;padding:9px 0 10px;margin-top:-2px;}
.ulList strong{padding:5px 0;color:#888;}
.ulList strong a{color:#888;font-weight:bold!important;background:none!important;line-height:18px!important;height:auto!important;width:auto!important;border:0!important;display:inline!important;font-size:12px!important;line-height:18px!important;margin:0!important;padding:0!important;}
.ulList ul{width:90px;}
.ulList ul li{border-left:1px solid #d6d6d6;margin:5px 0!important;padding:0 2px 0 8px;width:79px;}
.ulList ul li a{color:#888;background:none!important;line-height:18px!important;height:auto!important;width:auto!important;border:0!important;display:inline!important;font-size:12px!important;line-height:18px!important;margin:0!important;padding:0!important;}

.selectLeft2{width:152px;padding-top:10px;}
.selectLeft2 li{height:48px;background:url(../images/bg/selectBg.png) no-repeat -152px -157px;float:left;width:100%;margin-bottom:5px;}
.selectLeft2 li.on,.selectLeft2 li:hover{background:url(../images/bg/selectBg.png) no-repeat 0 -157px;}
.selectLeft2 li a{display:block;height:45px;background:url(../images/icon/common_icon.png) no-repeat;padding-left:42px;font:normal 15px/48px "Microsoft Yahei";color:#888;}
.selectLeft2 li.on a,.selectLeft2 li a:hover{color:#525252;text-decoration:none;}

.selectRight{border:1px solid #d6d6d6;border-left:0;background:#fff;width:847px;}
.selectRight2{border:1px solid #d6d6d6;border-left:0;background:#fff;width:827px;}
.selectListTop{padding:18px 30px 0 28px;}
.selectListTop div.clearfix{border-bottom:1px solid #e3e3e3;padding:0 0 0 15px;}

.selectListTop ul{padding-top:12px;height:28px;}
.selectListTop ul li{border-right:1px solid #d5d5d5;border-left:1px solid #f4f4f4;padding:0 11px;height:16px;line-height:16px;font-size:14px;}
.selectListTop ul li a{font-family:"Microsoft Yahei";color:#777;font-weight:bold;}
.selectListTop ul li a.on{color:#f80}
.selectListTop ul li.slt_first{border-left:0;}
.selectListTop ul li.slt_last{border-right:0;}
.selectListTop .makeBtn{width:99px;height:27px;background:url(../images/bg/selectBg.png) no-repeat -1px -123px;color:#640;line-height:27px;text-indent:35px;font-family:"Microsoft Yahei";margin:5px 10px 0 0;}
.selectListTop .makeBtn:hover{color:#420;text-decoration:none;}
.selectListBox{padding:5px 0 15px 53px;}
.selectListBox ul{}
.selectListBox ul li a{display:block;height:149px;width:175px;background:url(../images/bg/selectBg.png) no-repeat -132px 0;margin:18px 15px 0 0;padding-top:8px;}
.selectListBox ul li a:hover{background-position:-307px 0;text-decoration:none;}
.selectListBox ul li a span{display:block;padding:5px 12px 0 43px;font-family:"Microsoft Yahei";color:#444;text-align:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.selectListBox ul li a img{margin-left:11px;}
.selectListBox ul li a span.tc{display:block;padding:5px 0 0;margin:0 5px;font-family:"Microsoft Yahei";color:#444;text-align:center;background:#fff;}
.selectListBox ul li em{position:absolute;width:163px;padding:0 0 5px 12px;top:144px;height:26px;}
.selectListBox ul li em a{width:auto;height:auto;background:none;text-align:left;margin:0 9px 0 0;padding-top:0;color:#666;line-height:25px;display:inline-block;}
.selectListBox ul li em a:hover{text-decoration:none;}
.selectListBox ul li em a.icon_edit:hover{text-decoration:none;}

.pageBox{text-align:center;height:25px;padding:10px 0 20px;}
.pageBox a{width:26px;height:25px;display:inline-block;background:url(../images/bg/selectBg.png) no-repeat -27px -97px;line-height:25px;font-weight:bold;font-family:"Microsoft Yahei";color:#777;}
.pageBox a:hover{background-position:-1px -97px;text-decoration:none;}
.pageBox a.on{background-position:-53px -97px;color:#fff;}

.pageBox a,.pageBox span{margin:0 3px;}


/* 鐒︾偣鍥�*/
.small-pic , .pic-text , .small-list {overflow:hidden; zoom:1;}
.picBox {width:502px;}
.picBox .big-pic img{display:block; width:500px; height:325px; border:1px solid #aaa;}
.small-pic {margin:9px 0 0 -5px;}
.small-pic li{float:left;display:inline;background:url(/images/bg/makeBook.png) no-repeat -204px -60px;width:76px;height:57px;margin-left:6px;padding:6px 0 0 2px;cursor:pointer;}
.small-pic li img{display:block;width:74px;height:55px;}
.small-pic li.on{background-position:-126px -60px}

/* make book */
.btn_vip{width:116px;height:59px;display:block;background:url(/images/bg/makeBook.png) no-repeat 0 -60px;color:#f39800;padding:14px 0 0 10px;margin-top:5px;}
.btn_vip:hover{text-decoration:none;}
.btn_vip strong{display:block;color:#b87300;height:33px;cursor:pointer;}

.bookTitle{background:url(/images/bg/do.gif) repeat-x bottom;padding-top:30px;}
.bookTitle h1{font:normal 28px/48px "Microsoft Yahei";padding-left:38px;height:48px;overflow:hidden;}
.bookTitle a,.bookTitle a._hover{width:88px;height:25px;background:url(/images/bg/makeBook.png) no-repeat 0 -134px;margin-top:23px;text-indent:8px;line-height:25px;color:#666;}
.bookTitle a._hover{background-position:-88px -134px;}
.bookTitle a:hover{text-decoration:none;background-position:-88px -134px;}

.bookDetail{border:1px solid #d6d6d6;border-top:0;background:#ededed;position:absolute;width:284px;padding:8px 7px;display:none;z-index:1}
.bookDetail strong,.bookDetail span{width:197px;border:1px solid #d6d6d6;background:#fff;padding:3px;float:right;}
.bookDetail strong{width:68px;text-align:center;margin-right:3px;float:left;}
.bookDetail span:hover{background:#f5f5f5;}

.detailBox p{font:normal 14px/30px "Microsoft Yahei";padding:10px;text-indent:2em;}
.detailBox ul{line-height:26px;}
.bookMoney{margin:15px 0 15px 40px;background:url(/images/bg/makeBook.png) no-repeat -252px -144px;height:26px;font:normal 18px/26px "Microsoft Yahei";color:#d24936;padding-left:33px;}

.makeBookBtn{width:180px;height:59px;float:left;background:url(/images/bg/makeBook.png) no-repeat 0 0;text-indent:-9999em;position:relative;}
.previewBtn{width:117px;height:50px;background:url(/images/bg/makeBook.png) no-repeat -166px -5px;margin:5px 0 0 -15px;z-index:2;line-height:50px;font-size:14px;color:#444;text-indent:47px;position:relative;float:left;_float:right;_margin-right:17px;}
.makePicList{padding:10px 20px;}
.makePicList div.clearfix{padding:10px 15px;border-bottom:1px solid #e3e3e3;}
.makePicList div.clearfix strong{font:normal 16px/20px "Microsoft Yahei";}
.makePicList ul{padding-left:18px;}

/*form*/
.signBox{background:#fafafa;font-family:"Microsoft Yahei";border:1px solid #c9c9c9;width:902px;margin:30px auto;box-shadow:1px 1px 2px #ccc;}

.signTitleBox{height:88px;padding-left:45px;padding-right:38px;background:url(/images/bg/dotted.gif) repeat-x bottom;}
.signTitleBox h1,.loginBox h1{font-size:24px;font-weight:normal;color:#e96a16;line-height:88px;}
.signTitleBox span{font-size:13px;font-weight:bold;color:#666;line-height:28px;height:28px;margin:33px 0 0 32px;}
.bindBox{margin-top:40px;}
.bindBox a{height:48px;margin-left:4px;width:156px;float:left;background:url(../images/bg/form.png) no-repeat -156px 0;text-align:center;font:normal 14px/48px "Microsoft Yahei";color:#444;}
.bindBox a.on,.bindBox a.on:hover{text-decoration:none;background-position:0 0;}

.formBox{padding:50px 0 80px 200px;overflow:hidden;*zoom:1;}
.formBox fieldset{padding-bottom:12px;}
.formBox label{width:110px;padding-right:20px;text-align:right;float:left;font-size:16px;line-height:39px;}
.formBox div.clearfix label{padding:0;width:100%;text-align:left;}
.formBox .textBox{float:left;/*background:url(/images/bg/form.png) no-repeat 0 -48px;*/}
.formBox .textBox input{background:transparent;width:300px;height:39px;border:0;float:left;padding:0 3px;line-height:38px;font-size:15px;font-family:"arial";border:1px solid #c8c8c8;border-radius:3px;}
.formBox .textBox_s{float:left;background:url(../images/bg/form.png) no-repeat -170px -197px;}
.formBox .textBox_s input{background:transparent;width:120px;height:39px;border:0;padding:0 3px;line-height:38px;font-size:15px;font-family:"arial"}
.errorText{clear:both;color:#999;font-size:13px;line-height:30px;background:url(/images/icon/a.png) no-repeat left 8px;padding-left:20px;margin-left:130px;}
.err{clear:both;color:#fa4141;font-size:13px;line-height:30px;background:url(/images/icon/e.png) no-repeat left 8px;padding-left:20px;margin-left:130px;}



.loginBg{min-height:545px;_height:545px;background:url(../images/loginBg.jpg) no-repeat top left;padding:30px 0 0 566px;}
.loginBox{width:375px;background:#fafafa;font-family:"Microsoft Yahei";border:1px solid #c9c9c9;box-shadow:1px 1px 2px #ccc;}
.loginText{background:url(../images/form.png) no-repeat 0 -252px;height:39px;}
.loginText label,.loginText input{width:260px;height:39px;line-height:38px;background:transparent;border:0;padding:0 3px;}
.loginText input{font-size:14px;font-family:"arial"}
.loginBottom{background:url(/images/bg/dotted.gif) repeat-x top;padding:25px 0;text-align:center;}


.icon_gray{background:url(../images/bg/form.png) no-repeat -296px -101px;}

.btn_orange{cursor:pointer;display:inline-block;width:218px;height:54px;font:normal 27px/48px "Microsoft Yahei";color:#fdeee2;border:0;background:url(../images/bg/form.png) no-repeat 0 -87px;text-shadow:1px 1px 1px #d17d07}
.btn_orange:hover{color:#fff;}
.btn_orange_s{cursor:pointer;display:inline-block;width:168px;height:54px;font:bold 24px/48px "Microsoft Yahei";color:#fff;border:0;background:url(../images/bg/form.png) no-repeat 0 -197px;}

.btn_gray{cursor:pointer;display:inline-block;width:218px;height:54px;font:normal 20px/52px "Microsoft Yahei";color:#666;border:0;background:url(../images/bg/form.png) no-repeat 0 -292px;vertical-align:top;}
.btn_gray1{cursor:pointer;display:inline-block;text-align:center;width:268px;height:54px;font:bold 18px/50px "Microsoft Yahei";color:#666;border:0;background:url(../images/bg/form.png) no-repeat 0 -142px;}
.btn_gray2{cursor:pointer;display:inline-block;text-align:center;width:70px;height:28px;font:bold 15px/26px "Microsoft Yahei";color:#666;border:0;background:url(../images/bg/form.png) no-repeat -219px -292px;}
.btn_gray4{cursor:pointer;display:inline-block;text-align:center;width:75px;height:25px;font:normal 12px/25px "arial";color:#666;border:0;background:url(../images/bg/selectBg.png) no-repeat -401px -157px;}


.btn_orange:hover,.btn_gray:hover,.btn_gray1:hover{text-decoration:none;}

.bb_d{border-bottom:1px solid #d7d7d7}
.bt_f{border-top:1px solid #fff}
.bst4{border-top:4px solid #e5e5e5;}
.bdb8{border-bottom:1px dashed #b8b8b8}
.btdb{border-top:1px dotted #b8b8b8}
.bbdb{border-bottom:1px dotted #b8b8b8}

/* 鏌ョ湅娑備功 */
.lookBookBg{background:url(/images/bg/do2.gif) repeat-y 0 0 #fafafa;margin-top:15px;}
.lookBookBg .bst4{padding:0 42px;width:476px;}
.borderTRB{border-style:solid;border-color:#d4d4d4;border-left-width:1px;border-right-width:1px;border-bottom-width:2px;}
.bg_fff{background-color:#fff;}
.icon_gif{background:url(../images/bg/form.png) no-repeat -220px -88px;top:-39px;left:36px;width:49px;height:52px;display:block;}
.lk_inputBox{padding:35px 0 15px;border-bottom:1px solid #d7d7d7;}
.lk_inputBox label{width:122px;line-height:28px;}
.lk_inputBox label strong{display:block;font:bold 16px/28px "Microsoft Yahei";}
.lk_inputBox div.r{padding-right:5px;width:330px;}
.lk_inputBox textarea{width:324px;padding:2px;border:1px solid #a6a6a6;background-color:#fff;height:76px;margin-bottom:5px}

.lookBook_r{width:418px}
.lookBook_r h1{font:normal 18px/28px "Microsoft Yahei";border-bottom:1px solid #E3E3E3;margin-left:64px;padding:30px 0 20px;}
.lookBook_r .lk_Box{padding:20px 0 10px 64px}
.lookBook_r .lk_Box ul{border-left:6px solid #eee;padding-left:10px;}


.icon_lk_user{background:url(/images/icon/s.png) no-repeat 2px 2px;padding-left:20px;line-height:18px;margin-bottom:5px;}
.icon_lk_back{background:url(/images/icon/s.png) no-repeat 2px -32px;padding-left:20px;line-height:18px;margin-bottom:5px;}
.icon_lk_back:hover{background-position:2px -62px}

.icon_lk_1{background:url(/images/icon/s.png) no-repeat 2px -84px;padding-left:25px;}
.icon_lk_2{background:url(/images/icon/s.png) no-repeat 2px -113px;padding-left:25px;}
.icon_lk_3{background:url(/images/icon/s.png) no-repeat 2px -144px;padding-left:25px;}
.icon_lk_4{background:url(/images/icon/s.png) no-repeat 2px -175px;padding-left:25px;}

/* 涓汉浣滃搧 */
.icon_addr{background:url(/images/icon/addr.gif) no-repeat left center;padding-left:18px;display:inline-block;height:26px;line-height:26px;}
.icon_woman{background:url(/images/icon/woman.gif) no-repeat right bottom;padding-right:30px;}
.icon_man{background:url(/images/icon/man.gif) no-repeat right bottom;padding-right:30px;}
.grBg{background:url(/images/bg/grBg.png) no-repeat bottom center;padding:20px 130px 45px 65px;}
.photoBg{width:142px;height:144px;background:url(/images/bg/photoBg.jpg) no-repeat;padding:10px 0 0 12px;}
.photoBg img{width:130px;height:130px;}
.grName{font:normal 26px/28px "Microsoft Yahei";margin-top:18px;}
.big_pass{background:url(/images/icon/big_pass.jpg) no-repeat center;height:130px;}
.big_err{background:url(/images/icon/big_err.jpg) no-repeat center;height:130px;}

/* 浼氬憳涓績 */
.photoBg2{width:114px;height:115px;background:url(../images/bg/photoBg2.jpg) no-repeat;padding:14px 0 0 14px;position:relative;margin-left:12px;}
.photoBg2 a:hover{text-decoration:none}
.photoTxt{position:absolute;display:none;background:url(../images/bg/do.png) repeat;color:#fff;padding:3px 8px;top:86px;right:18px;}
.photoBg2 a:hover .photoTxt{display:block;}
.photoBg2 img{width:100px;height:100px;}

.icon_edit{background:url(../images/icon/edit.png) no-repeat 0 2px!important;padding-left:20px;}
.icon_no{background:url(../images/icon/edit.png) no-repeat 0 -78px!important;padding-left:20px;}
.icon_rem{background:url(../images/icon/edit.png) no-repeat 0 -186px!important;padding-left:20px;}

.icon_yes{background:url(../images/icon/edit.png) no-repeat 0 -38px!important;padding-left:20px;}
.icon_print{background:url(../images/icon/edit.png) no-repeat 0 -119px!important;padding-left:20px;}
.icon_copy{background:url(../images/icon/edit.png) no-repeat 0 -157px!important;padding-left:20px;}
.icon_mail_true{background:url(../images/bg/form.png) no-repeat -276px -141px;padding-left:22px;margin-left:20px;display:inline-block;}
.icon_mail_false{background:url(../images/bg/form.png) no-repeat -276px -170px;padding-left:22px;margin-left:20px;display:inline-block;}
.icon_mail_true span,.icon_mail_false a{color:#666;background:url(../images/bg/form.png) no-repeat -219px -321px #dcdcdc;display:inline-block;height:18px;line-height:18px;padding:0 5px 0 10px}

.btn_gray3{margin:24px 0 0 20px;background:url(../images/bg/form.png) no-repeat 0 -347px;width:109px;height:23px;display:inline-block;text-align:center;line-height:23px;color:#666;}
.btn_gray5{background:url(../images/bg/form.png) no-repeat -76px -396px;font:normal 18px/54px "Microsoft Yahei";width:168px;height:54px;display:inline-block;text-align:center;color:#666;}


.inpBox{border:1px solid #ccc;background-color:#fff;padding:2px;border-radius:3px;}
.inpBox:hover{border-color:#999 #ccc #ccc #999}
.inpBox_focus,.inpBox_focus:hover{border:1px solid #f09509;background-color:#fff;padding:2px;border-radius:3px;}

.txt_full{background:url(../images/icon/full.gif) no-repeat left center;padding-left:25px;color:#999;margin-left:10px;}
.txt_err{background:url(../images/icon/err.gif) no-repeat left center;padding-left:25px;color:#999;margin-left:10px;}

.photoEdit{width:180px;height:180px;position:relative;}
.photoEdit img{width:180px;height:180px;}
.photoEdit .photoTxt{top:143px;right:5px;}
.photoEdit a:hover .photoTxt{display:block;}


.table_1,.table_1 td{border:1px solid #dadada;}
.table_1 th{background:url(/images/bg/thBg.gif) repeat-x;height:35px;font-weight:normal;font-size:13px;}
.table_1 td{padding:10px;}
.table_2{width:100%;}
.table_2,.table_2 td,.table_2 th{padding:2px;background:none;border:0;font-size:12px;}
.table_2 th{border-bottom:1px solid #dadada;height:20px;}

.orderBox{width:175px;}
.orderBox .orderList{overflow:hidden;position:relative;}
.orderBox .orderList li{margin:5px;line-height:75px;position:relative;}
.orderBox .orderList a img{vertical-align:middle;margin-top:expression(-(this.height-75)/2);}
.orderBox .orderList a{width:75px;height:75px;line-height:75px;text-align:center;vertical-align:middle;display:inline-block;background:url(../images/bg/form.png) no-repeat 0 -396px;display: table-cell;display:block\9;*diaplay:block;}
.orderBox .orderList a:hover{background:url(../images/bg/form.png) no-repeat 0 -396px;}
.orderBox .orderList a .icon_see{position:absolute;top:25px;left:28px;display:none;}
.orderBox .orderList a:hover .icon_see{display:block;}
.openOrder{display:block;width:15px;height:10px;background:url(../images/bg/form.png) no-repeat -299px -360px;text-indent:-999em;font-size:0;}
.closeOrder{display:block;width:15px;height:10px;background:url(../images/bg/form.png) no-repeat -299px -374px;text-indent:-999em;font-size:0;}

.orderBtn_orange{background:url(../images/bg/form.png) no-repeat 0 -371px;width:57px;height:24px;line-height:24px;display:block;margin:5px 0;color:#fff}
.orderBtn_gray{background:url(../images/bg/form.png) no-repeat -58px -371px;width:57px;height:24px;line-height:24px;display:block;margin:5px 0;color:#888}

.icon_see{background:url(../images/bg/selectBg.png) no-repeat -83px -101px;width:21px;height:21px;display:block;}
.icon_del{background:url(../images/bg/selectBg.png) no-repeat -105px -101px;width:21px;height:21px;display:block;}

.imageBg{padding-left:17px;}
.imageBg li{margin:20px 0 0 22px;}

.imageBox{padding:5px;border:1px solid #ddd;width:153px;height:114px;position:relative;display:block;margin:5px 0 0 5px;text-align:center;}

.imageBox img{max-width:153px;max-height:114px;width:expression(this.width>153?153:"auto");height:expression(this.height>114?114:"auto");}
.imageBox .icon_del{position:absolute;top:12px;right:13px;display:none;}
.imageBox .selCheck{position:absolute;left:15px;bottom:15px;display:none;}
.imageBox .selCheckSel{position:absolute;left:15px;bottom:15px;display:block;}

.imageBox:hover{border-color:#888;}
.imageBox:hover .icon_del{display:block;}
.imageBox:hover .selCheck{display:block;}

.upImage{background:url(../images/bg/selectBg.png) no-repeat -305px -157px;width:95px;height:31px;line-height:31px;color:#fff;text-indent:34px}

.bookEdit .icon_see{position:absolute;right:32px;top:31px;display:none;}
.bookEdit:hover .icon_see{display:block;}

.bookEdit b{position:absolute;padding:1px 5px 2px;*padding:1px 5px 0;margin:3px 0 0 14px;color:#fff;line-height:18px;height:18px;background:#444}
.bookEditEm .icon_copy,.bookEditEm .icon_print,.bookEditEm .icon_no,.bookEditEm .icon_yes{width:1px!important;height:25px;}
/* buy */
.buyTitle_1,.buyTitle_2,.buyTitle_3{height:120px;background-image:url(../images/bg/buy.png);background-repeat:no-repeat;margin:10px 0 20px;}
.buyTitle_1{background-position:top center;}
.buyTitle_2{background-position:center center;}
.buyTitle_3{background-position:bottom center;}

.buyBox{border:0 solid #cecece;border-width:5px 1px 1px;background-color:#fff;}
.buyMoney{background-color:#fffdf4;margin:15px auto 0;width:800px;font-size:13px;}
.buyMoney li{padding:8px 0;}
.buyMoney strong.r{font-size:16px;margin:5px 15px 0 0;}
.jj_add,.jj_jian{width:24px;height:21px;border:0;vertical-align:middle;cursor:pointer;}
.jj_add{background:url(../images/icon/jj.png) no-repeat top;}
.jj_jian{background:url(../images/icon/jj.png) no-repeat bottom;}
.jj_txt{border:1px solid #ccc;border-color:#abadb3 #dbdfe6 #e3e9ef #e2e3ea;background-color:#fff;font-family:arial;height:20px;width:48px;margin:0 6px;vertical-align:middle;text-align:center;}
.img_true{background:url(/images/icon/true.jpg) no-repeat left center;padding-left:70px;}
.img_true strong{color:#11a011;font-size:18px;line-height:32px;}

.buyBg{background:url(/images/bg/img.png) no-repeat center;height:180px;}

/*about*/
.aboutMenu{width:188px;padding-right:30px;border-right:1px solid #d0d0d0;padding-bottom:200px;}
.aboutMenu ul li{width:188px;float:left;height:60px;border-bottom:1px solid #d0d0d0;}
.aboutMenu ul li.on{background:url(/images/icon/about.png) no-repeat right center;}
.aboutMenu ul li a{display:block;height:60px;padding-left:76px;font:normal 15px/60px "Microsoft Yahei";background-image:url(/images/icon/icon_about.png);background-repeat:no-repeat;color:#666;}
.aboutMenu ul li a:hover{color:#444;text-decoration:none;}
.icon_about1{background-position:40px 22px;}
.icon_about2{background-position:40px -38px;}
.icon_about3{background-position:40px -97px;}
.icon_about4{background-position:40px -158px;}
.icon_about5{background-position:40px -217px;}
.icon_about6{background-position:40px -276px;}
.icon_about7{background-position:40px -335px;}
.icon_about8{background-position:40px -397px;}
.icon_about9{background-position:40px -459px;}
.aboutMain{width:692px;padding-right:35px;font-size:14px;line-height:24px;color:#555}
.aboutMain h4{text-indent:2em;padding:10px 0;}
.aboutMain p{text-indent:2em;padding:8px 0;}

/*dialog*/
    /*dialog_1*/
    .d1_tl,.d1_tr,.d1_ml,.d1_mr,.d1_bl,.d1_br{width:8px;}
    .d1_tl,.d1_tr,.d1_tc{height:44px;}
    .d1_bl,.d1_br{height:10px;}
    .d1_tl{background:url(/images/dialog/d1_tl.png) no-repeat;}
    .d1_tr{background:url(/images/dialog/d1_tr.png) no-repeat;}
    .d1_bl{background:url(/images/dialog/d1_bl.png) no-repeat;height:10px;}
    .d1_br{background:url(/images/dialog/d1_br.png) no-repeat;height:10px;}
    .d1_tc{background:url(/images/dialog/d1_tc.png) repeat-x;width:auto;}
    .d1_bc{background:url(/images/dialog/d1_bc.png) repeat-x;width:auto;height:10px;}
    .d1_ml{background:url(/images/dialog/d1_ml.png) repeat-y;height:auto;}
    .d1_mr{background:url(/images/dialog/d1_mr.png) repeat-y;height:auto;}
    .d1_tc span.l{ line-height:38px; padding:0 10px;font-size:14px;color:#777;font-family:simsun;}
    .d1_tc .closeBtn{margin-top:7px; width:27px; height:27px;overflow:hidden;background:url(../images/dialog/close.png) no-repeat top;text-decoration:none;text-indent:-9999em;}
    .d1_tc .closeBtn:hover{text-decoration:none;background:url(../images/dialog/close.png) no-repeat center;}
    .d1_tc .closeBtn:active{background:url(../images/dialog/close.png) no-repeat bottom;}


/* artDialog default style */

/* common start */
body{ _height:100%; }
.aui_outer { text-align:left; }
.aui_table { border:0; margin:0; border-collapse:collapse; width:auto; }
.aui_table td { padding:0; }
.aui_buttons span { display:inline-block; *zoom:1; *display:inline }
.aui_dialogIcon { vertical-align:middle; _font-size:0; }
.aui_title { overflow:hidden; }
.aui_close { display:block; position:absolute; outline:none; }
.aui_main { text-align:center; }
.aui_content { text-align:left; border:none 0; }
.aui_tdIcon { vertical-align: middle; }
.aui_buttons { padding:0 0 40px; white-space:nowrap; }
.aui_buttons button { margin:0 10px; cursor:pointer; }
.aui_contentFull{ display:block; width:100%; margin:0; padding:0!important; height:100%; }
.aui_loading { width:96px; height:32px; text-align:left; text-indent:-999em; overflow:hidden; background:url(../images/dialog/loading.gif) no-repeat center center; }
.aui_confirm { margin-right:10px; width:48px; height:48px; background-position:0 -144px; }
.aui_buttons button,.diaBtn_1,.diaBtn_2{letter-spacing:2px; width:79px;height:28px;line-height:28px;text-decoration: none; cursor: pointer;display: inline-block; text-align: center;border:0;background-image:url(../images/dialog/btn.png);background-repeat:no-repeat;font-family:simsun!important;}
.diaBtn_1:hover,.diaBtn_2:hover{text-decoration:none;}
/* common end */

/* skin start */
.aui_header, .aui_footer button { font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family:Tahoma,Arial,Helvetica,STHeiti; -o-font-family: Tahoma, Arial; }
.aui_main { min-width:9em;background:#F4F4F4;}
.aui_outer, .aui_center { border:0px solid rgba(0, 0, 0, .5)!important; border:0px solid #333\9!important;}
.aui_outer { border-radius:3px; }
.aui_nw, .aui_ne, .aui_sw, .aui_se { width:8px; height:8px; }
.aui_nw{border-radius:15px 0 0 0;}
.aui_ne{border-radius:0 15px 0 0;}
.aui_sw{border-radius:0 0 0 15px;}
.aui_se{border-radius:0 0 15px 0;}
.aui_center{background-color:#ccc}
.aui_inner{background-color:#a3a3a3 }
.aui_border { background:rgba(0, 0, 0, .2); background:#000\9!important; filter:alpha(opacity=30); }
.aui_focus .aui_border{ background:rgba(0, 0, 0, .2);  filter:alpha(opacity=20);}
.aui_drag .aui_border { background:rgba(0, 0, 0, .4); filter:alpha(opacity=40); }
.aui_drag .aui_outer { box-shadow:none; border:0px solid rgba(0, 0, 0, .4)!important; border:0px solid #333\9!important; }
.aui_titleWrap { position:relative; height:100%;}
.aui_title { height:38px; line-height:38px; padding:0 28px;font-size:14px;color:#777;font-family:simsun;background-color:#e0e0e0; background: linear-gradient(top, #e0e0e0, #cccccc); background: -moz-linear-gradient(top, #e0e0e0, #cccccc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e0e0), to(#cccccc)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#cccccc'); border-radius:5px 5px 0 0;}
.aui_focus .aui_title {border:1px solid #a4a4a4;background-color:#e0e0e0; background: linear-gradient(top, #e0e0e0, #cccccc); background: -moz-linear-gradient(top, #e0e0e0, #cccccc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e0e0), to(#cccccc)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#cccccc'); border-radius:5px 5px 0 0;}
.aui_drag .aui_title { color:#333;  background: linear-gradient(top, #eef3f7, #f7f9fb); background: -moz-linear-gradient(top, #eef3f7, #f7f9fb); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e0e0), to(#f7f9fb)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef3f7', endColorstr='#f7f9fb'); box-shadow:none; }
.aui_drag .aui_titleWrap { box-shadow:none; }
.aui_close { padding:0; top:7px; right:8px; width:27px; height:27px;overflow:hidden;background:url(../images/dialog/close.png) no-repeat top;text-decoration:none;text-indent:-9999em;}
.aui_close:hover, .aui_close:active { text-decoration:none;background:url(../images/dialog/close.png) no-repeat center;}
.aui_close:active {background:url(../images/dialog/close.png) no-repeat bottom;}
.aui_content { color:#666; }
.aui_focus .aui_content {background-color:#f4f4f4;border:0 solid #a4a4a4;border-width:0 1px}
.aui_buttons {background-color:#f4f4f4;border:0 solid #a4a4a4;border-width:0 1px 1px;border-radius:0 0 5px 5px;text-align:center;}

.diaBtn_1{background-position:left bottom;color:#640}
.diaBtn_2{background-position:right bottom;color:#666}
.diaBtn_1:hover{background-position:center left}
.diaBtn_2:hover{background-position:center right}
.diaBtn_1:active{background-position:left top}
.diaBtn_2:active{background-position:right top}

.diaErr_1{background:url(/images/dialog/diaErr.png) no-repeat left center;}

/* skin end */

.dialogAddr{background:url(../images/dialog/addrBg.png) repeat-y center;width:612px;position:absolute;margin:25px 0 0 -7px;}
.diaA_title{background:url(../images/dialog/addrBg.png) no-repeat top left;font:bold 16px/32px "Microsoft Yahei";padding:30px 37px 0;}
.diaA_main{background:url(../images/dialog/addrBg.png) no-repeat right bottom;padding:10px 30px 30px;}
.btn_addr{background:url(../images/dialog/addrBtn.png) no-repeat bottom;width:105px;height:27px;line-height:27px;border:0;color:#640}
.btn_addr:hover{background-position:center}
.btn_addr:active{background-position:top}

/* photo_dialog */
.photoDialogBg{width:100%;position:absolute;overflow-y:auto;background:url(../images/dialog/photoDialog/b.png) repeat}
.photoDialog{width:832px;margin:50px auto;}
.pd_top{background:url(../images/dialog/photoDialog/top.png) no-repeat;height:7px;font-size:0;position:relative;}
.pd_close{width:28px;height:28px;background:url(../images/dialog/photoDialog/close.png) no-repeat;position:absolute;right:-15px;top:-15px}
.pd_photo{background:url(../images/dialog/photoDialog/bg.png) repeat-y;}
.pd_photoBox{width:650px;padding:40px 0;text-align:center;}
.pd_photoBox img{border:5px solid #fff;box-shadow:5px 5px 5px #666}
.pd_left,.pd_right{width:50px;height:95px;}
.pd_left a,.pd_right a{background:url(../images/dialog/photoDialog/btn.png) no-repeat;width:50px;height:95px;opacity:0.7;filter:alpha(opacity=70)}
.pd_left{margin-left:30px;margin-right:10px;}
.pd_right{margin-right:30px;}
.pd_left a{background-position:left;}
.pd_right a{background-position:right;}
.pd_left a,.pd_right a{display:block;height:95px;}
.pd_left:hover,.pd_right:hover{opacity:1;filter:alpha(opacity=100)}

.pd_txtBox{padding:12px 100px;border-left:1px solid #ababab;border-right:1px solid #ababab;border-top:1px dashed #ababab;background-color:#fff;}
.pd_txtTitle{background:url(../images/dialog/photoDialog/icon.gif) no-repeat center left;padding:5px 0 5px 28px;line-height:28px;height:28px;}

.pd_area .inpBox,.pd_area .inpBox_focus{width:600px;height:58px;padding:10px;}

.pd_btnBox{background:url(../images/dialog/photoDialog/bottom.png) no-repeat;width:632px;_margin-left:2px;height:55px;padding:0 100px;}

/* active */
.activeList{padding:10px 0;}
.activeList li{background:url(../images/bg/activeBg.jpg) no-repeat;padding:18px 19px 0;position:relative;width:270px;height:290px;margin:10px 9px;}
.activeList li img{width:270px;height:160px;}
.activeList li .inImg{position:absolute;top:-2px;left:0;width:74px;height:76px;text-indent:-9999em;background:url(/images/icon/in.png) no-repeat;z-index:2;}
.activeList li a,.activeList li a:hover{color:#666;text-decoration:none;}
.activeList li a img{opacity:0.9;filter:alpha(opacity=90)}
.activeList li a:hover img{opacity:1;filter:alpha(opacity=100)}
.activeList li strong{display:block;text-indent:2em;font:bold 15px/26px "Microsoft Yahei";padding:8px 0;}
.activeList li span{display:block;text-indent:2em;}

/* scene */
.sceneBg{background:url(/images/scene/bg.png) repeat-y;}
.sceneBg strong{font:bold 16px/36px "Microsoft Yahei";}

.sceneBtnBox{background:url(/images/scene/bottom.png) no-repeat center bottom;}
.sceneBtn_1{width:219px;height:91px;display:inline-block;background:url(/images/scene/btn.png) no-repeat 0 0;text-indent:-9999em;margin-right:14px;}
.sceneBtn_1:hover{background-position:0 -92px;}
.sceneBtn_2{width:219px;height:91px;display:inline-block;background:url(/images/scene/btn.png) no-repeat -219px 0;text-indent:-9999em;margin-right:14px;}
.sceneBtn_2:hover{background-position:-219px -92px;}
.sceneBtn_3{width:219px;height:91px;display:inline-block;background:url(/images/scene/btn.png) no-repeat -438px 0;text-indent:-9999em;margin-right:14px;}
.sceneBtn_3:hover{background-position:-438px -92px;}
.sceneBtn_4{width:219px;height:91px;display:inline-block;background:url(/images/scene/btn.png) no-repeat -657px 0;text-indent:-9999em;}
.sceneBtn_4:hover{background-position:-657px -92px;}

.sceneImg_1{width:172px;height:140px;display:inline-block;background:url(/images/scene/img_1.jpg) no-repeat;text-indent:-9999em;margin-right:14px;}
.sceneImg_2{width:172px;height:140px;display:inline-block;background:url(/images/scene/img_2.jpg) no-repeat;text-indent:-9999em;margin-right:14px;}
.sceneImg_3{width:172px;height:140px;display:inline-block;background:url(/images/scene/img_3.jpg) no-repeat;text-indent:-9999em;margin-right:14px;}
.sceneImg_4{width:172px;height:140px;display:inline-block;background:url(/images/scene/img_4.jpg) no-repeat;text-indent:-9999em;margin-right:14px;}
.sceneImg_5{width:172px;height:140px;display:inline-block;background:url(/images/scene/img_5.jpg) no-repeat;text-indent:-9999em;margin-right:14px;}


.qzBox .bg_01{background:url(/images/scene/qz/bg_01.jpg) no-repeat;height:90px;}
.qzBox .bg_02{background:url(/images/scene/qz/bg_02.jpg) no-repeat;height:90px;}
.qzBox .bg_03{background:url(/images/scene/qz/bg_03.jpg) no-repeat;height:90px;}
.qzBox .bg_04{background:url(/images/scene/qz/bg_04.jpg) no-repeat;height:90px;}
.qzBox .bg_05{background:url(/images/scene/qz/bg_05.jpg) no-repeat;height:90px;}
.qzBox .bg_06{background:url(/images/scene/qz/bg_06.jpg) no-repeat;height:90px;}
.qzBox .bg_07{background:url(/images/scene/qz/bg_07.jpg) no-repeat;height:90px;}
.qzBox .bg_08{background:url(/images/scene/qz/bg_08.jpg) no-repeat;height:90px;}
.qzBox .bg_09{background:url(/images/scene/qz/bg_09.jpg) no-repeat;height:90px;}
.qzBox .bg_10{background:url(/images/scene/qz/bg_10.jpg) no-repeat;height:90px;}
.qzBox .bg_11{background:url(/images/scene/qz/bg_11.jpg) no-repeat;height:90px;}
.qzBox .bg_12{background:url(/images/scene/qz/bg_12.jpg) no-repeat;height:53px;}

.qzBox a{width:142px;height:38px;position:absolute;text-indent:-9999em;}
.qzBox .link_1{margin:-4px 0 0 327px;}
.qzBox .link_2{margin:19px 0 0 713px;}
.qzBox .link_3{margin:120px 0 0 277px;}
.qzBox .link_4{margin:30px 0 0 677px;}
.qzBox .link_5{margin:48px 0 0 631px;width:165px!important}



.xzBox .bg_01{background:url(/images/scene/xz/bg_01.jpg) no-repeat;height:90px;}
.xzBox .bg_02{background:url(/images/scene/xz/bg_02.jpg) no-repeat;height:90px;}
.xzBox .bg_03{background:url(/images/scene/xz/bg_03.jpg) no-repeat;height:90px;}
.xzBox .bg_04{background:url(/images/scene/xz/bg_04.jpg) no-repeat;height:90px;}
.xzBox .bg_05{background:url(/images/scene/xz/bg_05.jpg) no-repeat;height:90px;}
.xzBox .bg_06{background:url(/images/scene/xz/bg_06.jpg) no-repeat;height:90px;}
.xzBox .bg_07{background:url(/images/scene/xz/bg_07.jpg) no-repeat;height:90px;}
.xzBox .bg_08{background:url(/images/scene/xz/bg_08.jpg) no-repeat;height:90px;}
.xzBox .bg_09{background:url(/images/scene/xz/bg_09.jpg) no-repeat;height:90px;}
.xzBox .bg_10{background:url(/images/scene/xz/bg_10.jpg) no-repeat;height:90px;}
.xzBox .bg_11{background:url(/images/scene/xz/bg_11.jpg) no-repeat;height:90px;}
.xzBox .bg_12{background:url(/images/scene/xz/bg_12.jpg) no-repeat;height:53px;}

.xzBox a{width:142px;height:38px;position:absolute;text-indent:-9999em;}
.xzBox .link_1{margin:43px 0 0 767px;}
.xzBox .link_2{margin:49px 0 0 252px;}
.xzBox .link_3{margin:14px 0 0 731px;}
.xzBox .link_4{margin:101px 0 0 768px;}
.xzBox .link_5{margin:33px 0 0 390px;width:165px!important}

.lxBox .bg_01{background:url(/images/scene/lx/bg_01.jpg) no-repeat;height:90px;}
.lxBox .bg_02{background:url(/images/scene/lx/bg_02.jpg) no-repeat;height:90px;}
.lxBox .bg_03{background:url(/images/scene/lx/bg_03.jpg) no-repeat;height:90px;}
.lxBox .bg_04{background:url(/images/scene/lx/bg_04.jpg) no-repeat;height:90px;}
.lxBox .bg_05{background:url(/images/scene/lx/bg_05.jpg) no-repeat;height:90px;}
.lxBox .bg_06{background:url(/images/scene/lx/bg_06.jpg) no-repeat;height:90px;}
.lxBox .bg_07{background:url(/images/scene/lx/bg_07.jpg) no-repeat;height:90px;}
.lxBox .bg_08{background:url(/images/scene/lx/bg_08.jpg) no-repeat;height:90px;}
.lxBox .bg_09{background:url(/images/scene/lx/bg_09.jpg) no-repeat;height:90px;}
.lxBox .bg_10{background:url(/images/scene/lx/bg_10.jpg) no-repeat;height:90px;}
.lxBox .bg_11{background:url(/images/scene/lx/bg_11.jpg) no-repeat;height:90px;}
.lxBox .bg_12{background:url(/images/scene/lx/bg_12.jpg) no-repeat;height:53px;}

.lxBox a{width:142px;height:38px;position:absolute;text-indent:-9999em;}
.lxBox .link_1{margin:88px 0 0 287px;}
.lxBox .link_2{margin:18px 0 0 556px;}
.lxBox .link_3{margin:33px 0 0 646px;}
.lxBox .link_4{margin:67px 0 0 295px;}
.lxBox .link_5{margin:25px 0 0 751px;width:165px!important}

.hlBox .bg_01{background:url(/images/scene/hl/bg_01.jpg) no-repeat;height:90px;}
.hlBox .bg_02{background:url(/images/scene/hl/bg_02.jpg) no-repeat;height:90px;}
.hlBox .bg_03{background:url(/images/scene/hl/bg_03.jpg) no-repeat;height:90px;}
.hlBox .bg_04{background:url(/images/scene/hl/bg_04.jpg) no-repeat;height:90px;}
.hlBox .bg_05{background:url(/images/scene/hl/bg_05.jpg) no-repeat;height:90px;}
.hlBox .bg_06{background:url(/images/scene/hl/bg_06.jpg) no-repeat;height:90px;}
.hlBox .bg_07{background:url(/images/scene/hl/bg_07.jpg) no-repeat;height:90px;}
.hlBox .bg_08{background:url(/images/scene/hl/bg_08.jpg) no-repeat;height:90px;}
.hlBox .bg_09{background:url(/images/scene/hl/bg_09.jpg) no-repeat;height:90px;}
.hlBox .bg_10{background:url(/images/scene/hl/bg_10.jpg) no-repeat;height:90px;}
.hlBox .bg_11{background:url(/images/scene/hl/bg_11.jpg) no-repeat;height:90px;}
.hlBox .bg_12{background:url(/images/scene/hl/bg_12.jpg) no-repeat;height:53px;}

.hlBox a{width:142px;height:38px;position:absolute;text-indent:-9999em;}
.hlBox .link_1{margin:68px 0 0 343px;}
.hlBox .link_2{margin:65px 0 0 557px;}
.hlBox .link_3{margin:24px 0 0 788px;}
.hlBox .link_4{margin:9px 0 0 428px;width:165px!important}
.hlBox .link_5{margin:61px 0 0 805px;}


/* 鐢ㄦ埛鏅掍功棣栭〉 */
#container{padding:10px 0 20px;clear: both;}

.masBox img{display:block;width:200px;}

.masBox{width:200px;background-color:#fff;padding:14px;border:1px solid #ddd;box-shadow:2px 2px 4px #ccc;;margin:5px;float:left;cursor:pointer;}

.masUser{padding:10px 0;}
.masUser img{width:50px;height:50px;margin:}
.masUser div{width:140px;}
.masUser strong,.masUser strong a{color:#afa49c;}
.masUser strong a:hover{color:#9e8471}

/*2012-12-10 鍋氭秱涔�浜у搧鍒楄〃椤�/
.cpImg{display:block;height:154px;}
.cpImg img{width:154px;height:154px;}
.grayCpBtn{width:60px;height:21px;text-align:center;line-height:21px;color:#fff;background:url(/images/btn/grayBtn.png) no-repeat;}

/*2012-12-25 浼樻儬鐮乼able*/

#promotable{width:94%;border:1px solid #e5ded0;background:#fff;margin:0 auto 8px;}
#promotable tr{border-collapse:collapse}
#promotable th,#promotable th:hover{padding:5px 3px;background:#f8f8f8;}
#promotable td{padding:5px 3px;border:1px solid #e5ded0;}
#promotable tr:hover{background:#fafafa;}

.moneyCodeBox{border:1px solid #ccc;width:180px;height:20px;background:#fff;display:inline-block;padding:1px 1px 1px 2px;}
#money_code{border:0;background:#fff;width:124px;outline:none}
#money_code:focus{outline:none;}
#cancle_promo{margin:0px 0 0 5px;width:51px;height:20px;cursor:pointer;display:none;background:url(/images/icon/clear.png) no-repeat center center;border:0;}

#money_code2{border:0;background:#fff;width:124px;outline:none}
#money_code2:focus{outline:none;}
#cancle_promo2{margin:0px 0 0 5px;width:51px;height:20px;cursor:pointer;display:none;background:url(/images/icon/clear.png) no-repeat center center;border:0;}

/* 2013-08-29 浣跨敤浼樻儬鐮�浠ｉ噾鍒�娑備功鍒�*/
.bm_open .bm_main{display:block;}
.bm_close .bm_main{display:none;}

.bm_open .bm_oc{background:url(../images/icon/order_jian.png) no-repeat;}
.bm_close .bm_oc{background:url(../images/icon/order_jia.png) no-repeat;}

.bm_title strong{margin:0 8px;vertical-align:middle;}
.bm_title .bm_oc{display:inline-block;width:11px;height:11px;vertical-align:middle;}

a.order_tip{background:url(../images/icon/orange_wen.png) no-repeat;width:16px;height:16px;display:inline-block;position:relative;vertical-align:middle;text-decoration:none;}
a.order_tip span{display:none;border:1px solid #fec092;padding:10px 17px;line-height:22px;color:#333;background:#fff8d9;position:absolute;left:35px;top:-27px;width:510px;}
a.order_tip:hover span{display:inline-block;}
a.order_tip span i{position:absolute;width:15px;height:16px;background:url(/images/icon/order_tip_jian.png) no-repeat;left:-14px;top:20px;}

.bm_bgGray{border:1px solid #febe8f;background:#f8f8f8;color:#666;padding:10px 20px;line-height:22px;margin:15px 30px 0;}

.bm_content{border:1px solid #ebddca;border-bottom:0;padding:15px 20px;}
.bm_bottom{border:1px solid #ffe580;background:#fff7d5;padding:20px 30px;}


/*閫氱煡鏍峰紡*/
.mesTxt span{cursor:pointer;}
.mesTxt .openOrder{display:inline-block;}
.mesTxt .closeOrder{display:inline-block;}
.noread{background:url(/images/icon/new.png) no-repeat left center;padding-left:14px;}
#appendtr td{text-align:left;background:#fffcf6;padding:10px 20px}


/*null data*/
.nullData .tc a{font-size:20px;}
.nullDataTitle{color:#999;font:bold 36px/48px "Microsoft Yahei";padding:50px 0 60px;}
.nullDataImg{border-top:1px dotted #ccc;background:url(/images/bg/t0.png) no-repeat center center;height:150px;margin-top:80px;}



/*- 鏂扮増棣栭〉 -*/
.head_post{background-color:#f5f5f5;border-bottom:1px solid #e5e5e5;line-height:30px;color:#888;}
.head_post a{color:#888}
.head_post .l{width:350px;padding-left:30px;height:30px;overflow:hidden;position:relative;}
.head_post .l ul{}
.head_post .r{padding-right:10px;}

.h_icon_1{background:url(../images/icon/h_1.png) no-repeat center left;padding-left:27px;}
.h_icon_2{background:url(../images/icon/h_2.png) no-repeat center left;padding-left:27px;}
.h_icon_3{background:url(../images/icon/h_3.png) no-repeat center left;padding-left:27px;}
.h_hr{height:12px;vertical-align:-2px;line-height:12px;display:inline-block;width:3px;background:url(../images/icon/hr.png) no-repeat center center;}

.indexIconLink{padding:10px 0 0 10px;}
.indexIconLink a{width:3px;margin-right:2px;height:25px;}

/*friend Link*/

/*story*/
#infscr-loading {
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 360px;
  width: 200px;
  padding: 10px;
  background: #fff;
  opacity: 0.8;
  color: #333;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.openDg{position:absolute;top:0;left:0;width:100%;background:#000;opacity:0.8;filter:alpha(opacity=80);z-index:100000;}
.openDiv{position:absolute;top:0;left:0;width:100%;z-index:100001;overflow-y:scroll;}
.od_mas{width:900px;background:#fff;margin:0 auto;}
.clearfix .odm_l{width:680px;background:#2c2c2c;float:left;color:#fff;}
.clearfix .odf_l{width:620px;background:#2c2c2c;float:left;color:#606060;padding:10px 30px;}
.clearfix .odf_l a{color:#606060;}
.clearfix .odm_l strong{font:normal 24px/105px "Microsoft yahei";height:105px;margin-left:50px;}
.clearfix .odm_l #dateTime{font:normal 14px/25px "Microsoft yahei";margin:70px 20px 0 0;}
.clearfix .odm_l a{color:#fff;}
.clearfix .odm_cls{background:#606060;color:#fff;width:38px;height:38px;float:right;text-align:center;font:bold 34px/38px "arial";border-radius:3px;margin:18px 17px 0 0;cursor:pointer;}

.mas_cm{background:url(/images/photo/mas/cm.png) repeat-y left;}

.odmm_l{float:left;width:680px;}
.odmm_l .storyLeft,.odmm_l .storyLeft_off{background:url(/images/icon/story-left.png) no-repeat center center;width:90px;float:left;cursor:pointer;text-indent:-9999em;}
.odmm_l .storyRight,.odmm_l .storyRight_off{background:url(/images/icon/story-right.png) no-repeat center center;width:90px;float:right;cursor:pointer;text-indent:-9999em;}
.storyLeft_off,.storyRight_off{opacity:0.3;filter:alpha(opacity=30);cursor:default!important;}


.odmm_r{float:right;width:200px;margin-right:10px;padding-bottom:50px;}
.odmm_r div{background:url(/images/photo/mas/bg.png) no-repeat center top;text-align:center;padding-top:15px;color:#666;}
.odmm_r div img{width:100px;height:100px;display:block;margin:0 auto;}
.odmm_r div span{margin-top:25px;display:block;font:bold 16px/28px "Microsoft yahei";}
.odmm_r p{padding:20px 15px;text-indent:2em;line-height:26px;font-size:13px;}

#masImg{width:500px;float:left;text-align:center;padding:20px 0;overflow:hidden;}
#masImg img{border:10px solid #fff;max-width:480px;}


#create_link{background:none;color:#ff6701;}
#create_link span{font:normal 12px/36px arial;}
#create_link a{width:126px;height:37px;background:url(/images/btn/orange_1.png) no-repeat top left;display:inline-block;font:bold 16px/36px "microsoft yahei";color:#fff;}
#create_link a:hover{background-position:bottom right;line-height:37px;text-decoration:none;}


/* 鑽夌 鑷姩鑷姩淇濆瓨绯诲垪 */
.autoSaveBox{width:100%;padding-top:10px;position:relative;height:20px;}
.seeAutoSave{background:url(/images/btn/grayAuto.png);width:133px;height:32px;text-align:center;font:bold 15px/32px "microsoft yahei";color:#777;display:block;position:absolute;right:20px;top:10px;}
.seeAutoSave:hover{text-decoration:none;color:#444;}
.downIconBg{background:url(/images/btn/downIcon.png) no-repeat center bottom;padding-bottom:25px;}
.save_gray,.save_orange{width:107px;height:32px;background-image:url(/images/btn/saveBtn.png);font:bold 14px/32px 'microsoft yahei';display:inline-block;}
.save_gray{background-position:right top;color:#666;}
.save_orange{background-position:left top;color:#fff;}
.save_gray:hover{color:#333;text-decoration:none;}
.save_orange:hover{color:#ff9;text-decoration:none;}




/* - register - */
.icon_rr_hover{background:url(/images/icon/renren.png) no-repeat left center;padding-left:20px;line-height:30px;display:inline-block;}
.icon_q_hover{background:url(/images/icon/qq.png) no-repeat left center;padding-left:25px;line-height:30px;display:inline-block;}
.signTitleBox i{font-style:normal;font-weight:normal;margin:0 8px;}

/* - bind_dialog - */
.bd_bg{width:100%;height:100%;position:absolute;background-color:#000;opacity:0.2;filter:alpha(opacity=20);left:0;top:0;}
.bd_dialog{border:1px solid #ccc;width:719px;background-color:#fff;position:absolute;opacity:0;filter:alpha(opacity=0);top:370px;left:50%;margin-left:-285px;box-shadow:0 5px 5px #999;}
.bd_title{border-bottom:1px solid #ccc;overflow:hidden;_height:1%;height:72px;padding:0 20px;}
.bd_title strong{color:#727171;font:normal 23px/72px "microsoft yahei";float:left;}
.bd_close{background:url(/images/dialog/cls.png) no-repeat;width:30px;height:30px;float:right;text-indent:-9999em;margin-top:20px;}
.bd_content{padding:50px 70px;font-family:"microsoft yahei";color:#555;}

.bd_content .btn_orange{background:url(/images/dialog/btn_bg.png) repeat-x;height:53px;border:1px solid #eb7d46;width:170px;}
.bd_content .btn_gray{background:#f0efef;height:53px;border:1px solid #d1d1d1;width:170px;}

.bd_icon_true{background:url(/images/dialog/true.png) no-repeat left center;padding-left:45px;line-height:36px;height:36px;font-size:20px;display:inline-block;*display:inline;margin-bottom:30px;}
.icon_radius{background:url(/images/dialog/radius.png) no-repeat left center;color:#fff;width:26px;height:26px;vertical-align:top;text-align:center;font:bold 14px/26px arial;display:inline-block;margin-right:5px;}


.bd_form input{width: 270px;height: 35px;border-width:1px;border-style:solid;}
.bd_form span{display:none;}
.bd_form p{padding-top:5px;}
.bd_input_normal input{border-color:#ccc;background-color:#fff;border-radius:3px;}
.bd_input_normal,.bd_input_focus,.bd_input_error p{color:#b6b6b6;}
.bd_input_focus input{border-color:#9fd78e;background-color:#e4fcc6;}
.bd_input_error input{border-color:#fd1b1b;background-color:#fcc6c6;}
.bd_input_error span{display:inline-block;background:url(/images/dialog/error_icon.png) no-repeat 10px center #fcc6c6;border-radius:3px;color:#303030;padding:0 10px 0 35px;margin-left:10px;height:34px;line-height:34px;}
.bd_input_focus p{color:#92d0a2;}

.reg_ok{padding:50px;}


.start_tip{border:1px solid #fde1b8;background:url(/images/icon/start.png) no-repeat 5px center #fdf2e1;padding:6px 5px 4px 32px;line-height:24px;display:inline-block;color:#333;}


/* 鐧诲綍鎴栬�娉ㄥ唽鎴愬姛鍚庡脊绐楋紙浼樻儬鐮佸彂鏀撅級 */
.pop_yhm{width:758px;background:#fff;}
.pop_top{padding:0 25px 20px;}
.pop_top h2{font-size:18px;padding-top:28px;font-weight:normal;}
.pop_top .qb_btn{background: url(/images/pop_dialog/jia.png) no-repeat right center;color: #444444;padding-right: 22px;}
.pop_top ul{margin-top:10px;margin-left:-8px;}
.pop_top ul li{width:171px;margin-left:8px;}
.pop_top ul li a.block{border:1px solid #ccc;}
.pop_top ul li img{width:169px;height:97px;display:block;}
.pop_top ul li span{display:block;line-height:28px;}
.js_made_btn{width:90px;height:28px;display:inline-block;margin-top:8px;text-align:center;line-height:28px;color:#fff;font-size:14px;font-weight:bold;font-family:"Microsoft Yahei";background:url(/images/pop_dialog/made_btn.jpg) no-repeat;}
.js_made_btn:hover{text-decoration:none;}

.pop_bottom{padding:0 24px 20px;background-color:#f1f1f1;}
.pop_bottom .qb_btn{background: url(/images/pop_dialog/jia.png) no-repeat right center;color: #444444;padding-right: 22px;padding-left:280px;}
.pop_bottom ul{margin-top:10px;}
.pop_bottom ul li{width:114px;}
.pop_bottom ul li img{width:112px;height:84px;display:block;border:1px solid #ccc;}
.pop_bottom ul li a{display:block;line-height:28px;}